.custom-table .text-head {
  font-size: 17px;
  font-weight: 600;
  color: theme("colors.darkColor");
}
.custom-table {
  overflow: hidden;
}

.custom-table-header,
.custom-table-row {
  display: flex;
  padding: 10px;
  text-align: center;
}

.custom-table-header {
  background-color: #f5f5f5;
  font-weight: bold;
}

.custom-table-header div,
.custom-table-row div {
  flex: 1;
  padding: 5px;
}

.custom-table-row:nth-child(even) {
  background-color: #f9f9f9;
}

/* END CUSTOM TABLE */
.progress-bar-container {
  width: 100%;
  height: 24px;
  background-color: #e0e0de;
  border-radius: 8px;
  display: flex;
}

.progress-bar-container .progress-segment {
  height: 100%;
  transition: width 0.3s ease-in-out;
  position: relative;
}

.progress-bar-container .color-b {
  background-color: #767d8b;
  border-radius: 0 8px 8px 0;
}

.progress-bar-container .color-c {
  background-color: #fe4d4f;
}

/* TOOTIP STLYE */
.progress-bar-container .tooltip:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #767d8b;
  color: #fff;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;

  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.5s;
  z-index: 1;
}

.progress-bar-container .tooltip::after {
  opacity: 0;
}

.progress-bar-container .tooltip:hover::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #767d8b transparent transparent transparent;
  opacity: 1;
  transition: opacity 0.2s;
}

.progress-bar-container .tooltip::before {
  opacity: 0;
}
