.table-container-details {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid theme("colors.lightColorWhite2");
  border-radius: 18px;
  overflow: auto;
}

.table-container-details .category-title {
  font-size: 17px;
  font-weight: 600;
  color: theme("colors.darkColor");
}

/* Style the comparison table */
.table-container-details .comparison-table {
  width: 100%;
  border-collapse: collapse;
  min-width: max-content;
  border: 1px solid #ddd;
}

/* Style table headers */
.table-container-details .comparison-table th {
  padding: 15px 50px;
  background-color: #f5f5f5;
  font-weight: bold;
  text-align: center;
}

.table-container-details .comparison-table th.\!text-start {
  padding: 15px !important;
}

/* Style table rows */
.table-container-details .comparison-table td {
  padding: 18px 12px;
  text-align: start;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  font-weight: 500;
  color: theme("colors.darkColor");
}


/* Add striped rows for readability */
.table-container-details .comparison-table tr:nth-child(even) td {
  background-color: #fafafa;
}

.table-container-details .icon-style-box {
  width: 28px;
  height: 28px;
  background: theme("colors.primaryColor_02");
  border-radius: 10px;
  color: theme("colors.whiteColor");
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.table-container-details .x-mark {
  background: theme("colors.redColor01");
}
