.user-one-details-animation {
  position: relative;
  width: max-content;
}

.user-one-details-animation .content-user-animation {
  border-radius: 20px 0px 20px 20px;
  background: rgba(255, 255, 255, 0.16);
  display: inline-flex;
  padding: 8px 20px;
  flex-direction: column;
  justify-content: center;
  gap: -1px;
  position: absolute;
  width: max-content;
  bottom: -65%;
  left: -112%;
}

.user-one-details-animation .content-user-animation.short-name {
  left: -110%;
}
.user-one-details-animation .content-user-animation.is-6-letters {
  left: -110%;
}
.user-one-details-animation .content-user-animation.full-name {
  left: -110%;
}

.user-one-details-animation .content-user-animation.is-16-letters {
  left: -110%;
}
.user-one-details-animation .content-user-animation.plus-20-letters {
  left: -110%;
}

.user-one-details-animation .share-icon-user {
  position: absolute;
  bottom: -70%;
  left: -20%;
}

.animation-bg-plus {
  transform: translate(-50%, -50%);
  box-sizing: content-box;
  display: block;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.animation-bg-plus:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 90px;
  height: 90px;
  background: rgba(255, 255, 255, 0.42);

  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
  z-index: -1;
}

.animation-bg-plus:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 90px;
  height: 90px;
  background: rgba(255, 255, 255, 0.42);

  border-radius: 50%;
  transition: all 200ms;
  z-index: -1;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.user-one-details-animation .image-user {
  transform: translate(-50%, 0);
  position: relative;
  top: 100%;
  left: 45%;
}

/* THIS IS RIGHT IMAGEUSER */
.user-one-details-animation-right .content-user-animation {
  border-radius: 0px 20px 20px 20px;
  right: -112%;
}

.user-one-details-animation-right .share-icon-user {
  right: -20%;
}

.user-one-details-animation-right .content-user-animation.short-name {
  right: -110%;
}
.user-one-details-animation-right .content-user-animation.is-6-letters {
  right: -110%;
}
.user-one-details-animation-right .content-user-animation.full-name {
  right: -110%;
}

.user-one-details-animation-right .content-user-animation.is-16-letters {
  right: -110%;
}
.user-one-details-animation-right .content-user-animation.plus-24-letters {
  right: -110%;
}

/* SCREEN 1100PX */
@media screen and (max-width: 1100px) {
  .banner-header-home .user-one-details-animation {
    left: 25% !important;
  }
}

/* SCREEN 800PX */
@media screen and (max-width: 800px) {
  .banner-header-home .user-one-details-animation {
    display: none;
  }
}
