.main-chart-info .apexcharts-yaxis-label {
  writing-mode: tb-rl;
  font-weight: 500;
  transform: translateY(-10px);
}



@media screen and (max-width:1024px) {
    .main-chart-info {
        overflow-x: auto;
        width: auto;
      }
      
      .main-chart-info .main-chart-bar {
        overflow-x: auto;
        width: 1200px;
      }
          
}