.header-services-page .all-header-info-content-area .title{
    max-width: 600px;
    font-size: 42px;
}
.header-services-page .user-one-details-animation{
    position: absolute ;
}


.header-services-page .user-one-details-animation{
    top: 25%;
}

@media screen and (max-width:991px) {
    

.header-services-page .user-one-details-animation{
   display: none;
}
}