.todays-tasks .header-table-content .btn-transparent {
  border: none !important;
  padding: 0 !important;
}
.todays-tasks
  .header-table-content
  .btn-transparent
  [data-icon="chevron-left"] {
  display: none;
}
.main-calendar .Calendar.-rtl .Calendar__section.-hiddenNext {
  transform: translateX(-100%);
}
.main-calendar .Calendar {
  min-height: 100%;
}
.main-calendar :is(.Calendar__header) {
  padding: 0;
}
.main-calendar :is(.Calendar__weekDays) {
  padding: 15px 0em 0 0em;
}

.main-calendar .Calendar__section {
  padding: 0em;
}
.main-calendar :is(.Calendar__weekDays .Calendar__weekDay) {
  font-size: 12px;
  color: theme("colors.darkColor");
  font-weight: 900;
}

@media screen and (min-width: 1480px) {
  .main-calendar :is(.Calendar__weekDays .Calendar__weekDay) {
    font-size: 16px;
  }
}

.main-date-picker-content .react-datepicker-popper {
  z-index: 1000;
}

@media screen and (max-width: 1199px) {
  .main-calendar :is(.Calendar__weekDays .Calendar__weekDay) {
    font-size: 18px;
  }
}

@media screen and (max-width: 840px) {
  .main-calendar :is(.Calendar__weekDays .Calendar__weekDay) {
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .main-calendar :is(.Calendar__weekDays .Calendar__weekDay) {
    font-size: 12px;
  }
}

.main-calendar .Calendar__header .Calendar__monthArrowWrapper {
  background: transparent;
  border: 1px solid theme("colors.lightColorWhite2");
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: all 0.5s;
  position: relative;
}
.main-calendar .Calendar__header .Calendar__monthArrowWrapper::after {
  content: "\f060";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  transform: rotate(90deg);
  color: theme("colors.primaryColor");
  font-size: 17px;
  transition: all 0.5s;
}
.main-calendar .Calendar__header .Calendar__monthArrowWrapper:hover {
  background: theme("colors.primaryColor");
}
.main-calendar .Calendar__header .Calendar__monthArrowWrapper:hover::after {
  color: theme("colors.whiteColor");
}
.main-calendar
  .Calendar__header
  .Calendar__monthArrowWrapper
  .Calendar__monthArrow {
  display: none;
}

.main-calendar .Calendar__day {
  font-size: 16px !important;
  font-weight: 600;
}
.main-calendar :is(.Calendar__day.-selected) {
  width: 40px;
  height: 40px;
  background: theme("colors.primaryColor");
}

/* DATE PIKER */
.input-date-content-picker .DatePicker {
  width: 100%;
}
.input-date-content-picker .DatePicker input {
  background: transparent !important;
  width: 100% !important;
  font-size: 15px;
  padding: 10.8px 12px !important;
}
.input-date-content-picker .DatePicker input:focus {
  outline: none !important;
}

.input-date-content-picker :is(.Calendar__header) {
  padding: 5px 15px;
}

/* DATE PIKER CLASS FULL */
.date-input-picker input:focus {
  box-shadow: none !important;
  outline: none !important;
}
.date-input-picker
  :is(
    .react-datepicker__input-container .react-datepicker-ignore-onclickoutside,
    .react-datepicker__input-container,
    .react-datepicker-wrapper,
    input
  ) {
  width: 100% !important;
}

.date-input-picker :is(.react-datepicker__header, .react-datepicker) {
  background: #fff;
  border-color: #ececec;
}

.date-input-picker .react-datepicker__navigation {
  background: theme("colors.primaryColor");
  display: flex;
  align-items: center;
  justify-content: center;
  top: 12px !important;
  border-radius: 8px;
}

.date-input-picker .react-datepicker__navigation-icon {
  transform: translateY(-25%);
  top: 50%;
  left: 0;
  right: 0;
}
.date-input-picker .react-datepicker__navigation--next {
  right: 12px;
}
.date-input-picker .react-datepicker__navigation--previous {
  left: 12px;
}
.date-input-picker .react-datepicker__navigation-icon::before {
  border-color: #fff !important;
}
.date-input-picker .react-datepicker__day-names {
  margin: 20px 0 -5px 0 !important;
}
.date-input-picker :is(.react-datepicker__day-names, .react-datepicker__week) {
  display: flex;
  gap: 18px;
}
.date-input-picker .react-datepicker__month-container {
  padding: 0 20px;
}

.date-input-picker :is(.react-datepicker__day, .react-datepicker__day-name) {
  font-size: 15px !important;
  font-weight: 500 !important;
  color: theme("colors.grayColor") !important;
  width: 2.1rem;
  height: 2.1rem;
  line-height: 2.2rem;
  font-family: "Baloo Bhaijaan 2", sans-serif !important;
}

.date-input-picker
  :is(
    .react-datepicker__day:not([aria-disabled="true"]):hover,
    .react-datepicker__month-text:not([aria-disabled="true"]):hover,
    .react-datepicker__quarter-text:not([aria-disabled="true"]):hover,
    .react-datepicker__year-text:not([aria-disabled="true"]):hover
  ) {
  background: theme("colors.primaryColor");
  color: theme("colors.whiteColor") !important;
}

.date-input-picker
  .react-datepicker__day.react-datepicker__day--keyboard-selected,
.date-input-picker .react-datepicker__day--selected,
.date-input-picker .react-datepicker__month-text--keyboard-selected {
  background: theme("colors.primaryColor");
  color: theme("colors.whiteColor") !important;
}

.date-input-picker .react-datepicker__current-month {
  margin: 10px 0;
}
.date-input-picker .react-datepicker__year-select {
  width: 100px;
  border: 1px solid #ececed;
  border-radius: 5px;
}
/* SCREEN 550PX */
@media screen and (max-width: 550px) {
  .date-input-picker
    :is(.react-datepicker__day-names, .react-datepicker__week) {
    display: flex;
    gap: 15px;
  }
  .date-input-picker .react-datepicker__month-container {
    padding: 0 15px;
  }
  .date-input-picker .react-datepicker__navigation-icon {
    transform: translateY(-27%);
  }
}

/* SCREEN 550PX */
@media screen and (max-width: 450px) {
  .date-input-picker
    :is(.react-datepicker__day-names, .react-datepicker__week) {
    display: flex;
    gap: 5px;
  }
  .date-input-picker .react-datepicker__month-container {
    padding: 0 5px;
  }
}

/* SCREEN 350PX */
@media screen and (max-width: 350px) {
  .date-input-picker
    :is(.react-datepicker__day-names, .react-datepicker__week) {
    display: flex;
    gap: 0px;
  }
  .date-input-picker .react-datepicker__month-container {
    padding: 0 0px;
  }
}

.date-input-picker
  .react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle {
  fill: theme("colors.whiteColor");
  stroke: #ececec;
}

.date-input-picker .react-datepicker__navigation-icon--next {
  right: -1px;
}
.date-input-picker .react-datepicker__navigation-icon--previous {
  right: 1px;
}

/* YEAR */
.date-header-year .react-datepicker__month .react-datepicker__month-text {
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  height: 3rem;
  width: 6rem;
}

.date-header-year .react-datepicker__month-container {
  padding: 10px 20px;
}

.date-header-year .react-datepicker__header {
  padding-bottom: 15px;
  font-size: 17px;
}

@media screen and (max-width: 550px) {
  .date-header-year .react-datepicker__month-container {
    padding: 10px 5px;
  }
}
