.not-found-body {
  overflow-y: auto;

  padding: 100px 0;
  background: theme("colors.lightColorWhite");
}

.not-page-found .animtion-lottie-data {
  width: 600px;

  margin: auto;
}

.not-page-found .main-content-found {
  transform: translateY(-10px);
}

@media screen and (max-width: 991px) {
  .not-page-found .animtion-lottie-data {
    width: 100%;
    margin: auto;
  }

  .not-page-found .main-content-found {
    transform: translateY(0px);
  }
  .not-found-body {
    padding: 50px 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .not-found-body {
    padding: 20px 20px 50px 20px !important;
  }
}

@media screen and (max-width: 480px) {
  .not-page-found .main-content-found .btn-main {
    width: 100%;
  }
}
